{% extends "layout" %}

{% block content %}
{% if element.id is null or element.id is empty %}
<h1>Nouvel &eacute;l&eacute;ment</h1>
<form method="post" action="{{ urlFor('elements.create') }}">
{% else %}
<h1>Modifier &eacute;l&eacute;ment</h1>
<form method="post" action="{{ urlFor('elements.update', { 'id': element.id }) }}">
{% endif %}

    <input type="hidden" name="id" value="{{ element.id }}">

    <div class="form-group">
        <label for="type">Type</label>
        {{ formSelect("type", typeList, element.type) }}
    </div>

    <hr>

    <div class="form-group">
        <label for="title">Titre</label>
        {{ formInput("title", element.title) }}
    </div>

    <div class="form-group">
        <label for="subType">Sous-type</label>
        {{ formSelect("subType", subTypeList, element.subType) }}
    </div>

    <div class="form-group">
        <label for="releaseYear">Ann&eacute;e de parution</label>
        {{ formInput("releaseYear", element.releaseYear, { "type": "number" }) }}
    </div>

    <div class="form-group">
        <label for="episodeCount">Nombre d'&eacute;pisodes</label>
        {{ formInput("episodeCount", element.episodeCount, { "type": "number" }) }}
    </div>

    <div class="form-group">
        <label for="tagList">Tags</label>
        {{ formSelect("tagList", tagList, element.tagList, { "multiple": "multiple" }) }}
    </div>

    <div class="form-group">
        <label for="collectionList">Collections</label>
        {{ formSelect("collectionList", collectionList, element.collectionList, { "multiple": "multiple" }) }}
    </div>

    <div class="form-group">
        <label for="synopsis">Synopsis</label>
        {{ formTextArea("synopsis", element.synopsis, { "size":"100x4" }) }}
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#tagList').tokenize2();
    $('#collectionList').tokenize2();
});
</script>
{% endblock %}
