{% extends "layout" %}

{% block content %}

<nav>
    <ul class="pagination justify-content-center">
{% for page in letterPaginationList %}
        {% if not page.active %}
        <li class="page-item disabled"><span class="page-link">{{ page.letter }}</span></li>
        {% else %}
        <li class="page-item{% if page.current %} active{% endif %}">
            <a href="{{ page.url }}" class="page-link">{{ page.letter }}</a>
        </li>
        {% endif %}
{% endfor %}
    </ul>
</nav>

<div class="d-flex flex-wrap">
{% for element in elementList %}
    <div class="media m-1 border rounded position-relative" style="width: 400px">
        <img src="/elements/{{ element.id }}/thumbnail.png" width="70" height="70" class="mr-3 rounded-left" />
        <div class="media-body">
            <a href="{{ element.viewUrl }}" class="h5 stretched-link">{{ element.title }}</a>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}