{% extends "layout" %}

{% block header %}
<div class="header-section border-bottom">
    <h1>{{ element.title }}</h1>
    <div>
        <div class="header-navigation">
            <ul class="nav">
                <li class="nav-item"><a data-toggle="tab" href="#element-details" class="nav-link active">D&eacute;tails</a></li>
                <li class="nav-item"><a data-toggle="tab" href="#element-episodes" class="nav-link">&Eacute;pisodes</a></li>
            </ul>
        </div>
        <div class="d-flex">
            <a href="{{ urlFor('elements.edit',{'id': element.id}) }}" class="btn btn-light">Modifier</a>
            &nbsp;
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">Suite</button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ urlFor('elements.image.edit', {'elementId': element.id}) }}" data-toggle="modal" data-target="#elementEditModal">Modifier l'image</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ urlFor('elements.seasons.new', {'elementId': element.id}) }}" data-toggle="modal" data-target="#elementEditModal">Ajouter une saison</a>
                    <a class="dropdown-item" href="{{ urlFor('elements.episodes.new', {'elementId': element.id}) }}" data-toggle="modal" data-target="#elementEditModal">Ajouter un &eacute;pisode</a>
                    <a class="dropdown-item" href="{{ urlFor('elements.episodes.mass-new', {'elementId': element.id}) }}" data-toggle="modal" data-target="#elementEditModal">Ajouter des &eacute;pisodes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ urlFor('elements.relations.new', {'elementId': element.id}) }}" data-toggle="modal" data-target="#elementEditModal">Ajouter une relation</a>
                    <a class="dropdown-item" href="{{ urlFor('elements.remote-ids.new', {'elementId': element.id }) }}" data-toggle="modal" data-target="#elementEditModal">Ajouter une ressource</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#elementDeleteModal">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="tab-content" id="elementTabContent">
    <div class="tab-pane fade show active" id="element-details">
        <div class="entity-layout">
            <div class="entity-layout__center">
                <div class="card card-body">
                    <div class="row mb-2">
                        <div class="col"><strong>Type :</strong> {{ element.subtype }}</div>
                        <div class="col"><strong>Ann&eacute;e de parution :</strong> {{ element.releaseYear }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <strong>Tags :</strong>
                            <ul class="tag-list">
                                {% for tag in element.tagList %}
                                <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            <strong>Collections :</strong>
                            <ul class="tag-list">
                                {% for collection in element.collectionList %}
                                <li>{{ collection.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if element.episodeCount is not null %}
                    <div class="row">
                        <div class="col"><strong>&Eacute;pisodes :</strong> {{ element.episodeCount }}</div>
                    </div>
                    {% endif %}
                </div>

                <div class="card card-body mt-3">
                    <h4 class="card-title">Synopsis</h4>
                    <div>{{ element.synopsis | nl2br }}</div>
                </div>

                {% if element.relationList is not empty %}
                <div class="card card-body mt-3">
                    <h4 class="card-title">Relations</h4>
                    <table class="table table-sm">
                        <col />
                        <col width="30" />
                        <tbody>
                        {% for relationGroup in element.relationList %}
                        <tr>
                            <th colspan="2">{{ relationGroup.name }}</th>
                        </tr>
                        {% for relation in relationGroup.elementList %}
                        <tr>
                            <td><a href="{{ relation.url }}">{{ relation.title }}</a></td>
                            <td><a href="{{ urlFor('elements.relations.delete', { 'elementId': element.id, 'relationId': relation.id }) }}" data-toggle="confirm" class="btn btn-light btn-sm">&times;</a></td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
            <div class="entity-layout__sidebar">
                <div class="text-center pb-3">
                    <img src="/elements/{{ element.id }}/image.png" width="300" class="rounded shadow-z1" />
                </div>

                <div class="card card-body mb-3">
                    {% if playlistItem is null %}
                    <form action="{{ urlFor('playlist.item.add') }}" method="post">
                        <input type="hidden" name="elementId" value="{{ element.id }}" />
                        <input type="hidden" name="redirectUrl" value="{{ currentUri() }}" />
                        <button type="submit" class="btn btn-link">Ajouter à ma liste</button>
                    </form>
                    {% else %}
                    <div class="row">
                        <div class="col-6">
                            <strong>&Eacute;tat</strong><br/>{{ playlistItem.status }}
                        </div>
                        <div class="col-6 d-flex align-items-end justify-content-between">
                            {% if playlistItem.currentEpisode is not null %}
                            <div><strong>Episode</strong><br/>{{ playlistItem.currentEpisode }}</div>
                            <form method="post" action="{{ urlFor('playlist.item.progress') }}">
                                <input type="hidden" name="elementId" value="{{ element.id }}" />
                                <input type="hidden" name="redirectUrl" value="{{ currentUri() }}" />
                                <button type="submit" class="btn btn-sm btn-light btn-icon"><span class="material-icons">add_circle_outline</span></button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="col-12 mt-3">
                            <form action="{{ urlFor('playlist.item.mark-as') }}" method="post" class="form-inline">
                                <input type="hidden" name="elementId" value="{{ element.id }}" />
                                <input type="hidden" name="redirectUrl" value="{{ currentUri() }}" />
                                <label for="status">Marquer comme&nbsp;:</label>
                                <select class="custom-select" name="status" id="status">
                                    <option value="FINISHED">Termin&eacute;</option>
                                    <option value="DROPPED">Abandonn&eacute;</option>
                                </select>
                                <button type="submit" class="btn btn-light">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>


                <div class="card card-body">
                    <h4 class="card-title">Ressource</h4>
                    <table class="table table-sm">
                        <col/>
                        <col width="30"/>
                        <tbody>
                        {% for remoteId in element.remoteIdList %}
                        <tr>
                            <td><a href="{{ remoteId.url }}" target="_blank">{{ remoteId.siteName }}</a></td>
                            <td><a href="{{ urlFor('elements.remote-ids.delete', { 'elementId': element.id, 'remoteId': remoteId.id }) }}" data-toggle="confirm" class="btn btn-icon btn-light btn-sm table-action"><span class="material-icons">delete</span></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="element-episodes">
        <div class="card card-body">
            <table class="table table-sm table-hover" id="episodeTable">
                <col width="50">
                <col>
                <col width="50">
                <thead class="thead-dark">
                <tr>
                    <th>N&deg;</th>
                    <th>Titre</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for season in element.seasonList %}
                {% if seasonCount > 1 %}
                <tr class="table-secondary parent">
                    <td><span class="material-icons table-line-toggle">unfold_less</span></td>
                    <td><strong>{{ season.title }}</strong></td>
                    <td>
                        <div class="dropdown table-action">
                            <button class="btn btn-icon btn-light btn-sm" type="button" data-toggle="dropdown">
                                <span class="material-icons">more_vert</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ urlFor('elements.episodes.new', {'elementId': element.id}) }}" data-toggle="modal" data-target="#elementEditModal">Ajouter un &eacute;pisode</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ urlFor('elements.seasons.edit', {'elementId': element.id, 'seasonId': season.id}) }}" data-toggle="modal" data-target="#elementEditModal">Modifier</a>
                                <a class="dropdown-item text-danger" href="{{ urlFor('elements.seasons.delete', {'elementId': element.id, 'seasonId': season.id}) }}" data-toggle="confirm" data-confirm-text="Confirmer la suppression de la saison ainsi que tous les &eacute;pisodes.">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% for episode in season.episodeList %}
                <tr class="child">
                    <td>{{ episode.number }}</td>
                    <td>{{ episode.title }}</td>
                    <td>
                        <div class="dropdown table-action">
                            <button class="btn btn-icon btn-light btn-sm" type="button" data-toggle="dropdown">
                                <span class="material-icons">more_vert</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ urlFor('elements.episodes.edit', { 'elementId': element.id, 'episodeId': episode.id }) }}" data-toggle="modal" data-target="#elementEditModal">Modifier</a>
                                <a class="dropdown-item text-danger" href="{{ urlFor('elements.episodes.delete', { 'elementId': element.id, 'episodeId': episode.id }) }}" data-toggle="confirm">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="elementEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="elementDeleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Supprimer &eacute;l&eacute;ment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Confirmer la suppression de l'&eacute;l&eacute;ment : {{ element.title }}
            </div>
            <div class="modal-footer">
                <form action="/elements/{{ element.id }}/delete" method="post">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
                <button type="button" class="btn btn-link">Fermer</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#elementEditModal').on('show.bs.modal', function (e) {
        $(this).find('.modal-content').html('<div class="modal-body d-flex justify-content-center"><div class="spinner-border" style="width: 4rem; height: 4rem;" role="status"><span class="sr-only">Loading...</span></div></div>');
        var loadUrl = $(e.relatedTarget).attr('href');
        $(this).find('.modal-content').load(loadUrl, function() {
            bsCustomFileInput.init();
        });
    });

    function getChildren($row) {
        var children = [];
        while($row.next().hasClass('child')) {
             children.push($row.next());
             $row = $row.next();
        }
        return children;
    }

    // zoom-out

    $('#element-episodes .table-line-toggle').each(function() {
        $(this).css('cursor', 'zoom-out');

        $(this).on('click', function() {
            var $this = $(this);

            var currentIcon = $this.text();
            if (currentIcon.endsWith('less')) {
                $this.text('unfold_more');
                $this.css('cursor', 'zoom-in');
            }
            else {
                $this.text('unfold_less');
                $this.css('cursor', 'zoom-out');
            }

            var children = getChildren($this.parent().parent());
            $.each(children, function() {
                $(this).toggle();
            });
        });
    });
});
</script>
{% endblock %}
