{% extends "layout" %}

{% block content %}
<h1>{{ anime.title }}</h1>

<div>
    <a href="">Modifier</a>
</div>

<p><strong>Type :</strong> {{ anime.type }}</p>
<p><strong>Date d&eacute;but :</strong> {{ anime.startDate | date('dd/MM/yyyy') }}</p>
<p><strong>Date fin :</strong> {{ anime.endDate | date('dd/MM/yyyy') }}</p>
<p><strong>Synopsis :</strong> {{ anime.synopsis }}</p>

<p><a href="{{ anidbLink }}" target="_blank">AniDB</a></p>

<hr>

<h3>&Eacute;pisodes</h3>
<table class="table">
    <thead>
        <tr>
            <th>N&deg;</th>
            <th>Titre</th>
        </tr>
    </thead>
    <tbody>
{% for episode in anime.episodeList %}
        <tr>
            <td>{{ episode.number }}</td>
            <td>{{ episode.title }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}