{% extends "layout" %}

{% block content %}

<div class="section">
    <div class="section--sidebar">
        <div class="text-center pb-3">
            <img src="/user/{{ user.id }}/full.png" width="150" height="150" class="rounded shadow-z1 mb-3" />
            <h3>{{ user.name }}</h3>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="list-group list-group-flush">
                <a href="{{ urlFor('user.image.edit', {'id': user.id }) }}" data-toggle="modal" data-target="#userEditModal" class="list-group-item">Changer image</a>
            </div>
        </div>
    </div>

    <div class="section--content">
        <div class="card card-body">
            <h4 class="card-title">En cours</h4>

            <table class="table table-sm">
                <tbody>
                    {% for watching in watchingList %}
                    <tr>
                        <td>{{ watching.elementName }}</td>
                        <td>
                            {% if watching.currentEpisode is not null %}
                                {{ watching.currentEpisode}}
                                {% if watching.totalEpisodes is not null %}
                                    / {{ watching.totalEpisodes }}
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="userEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#userEditModal').on('show.bs.modal', function (e) {
        $(this).find('.modal-content').html('<div class="modal-body d-flex justify-content-center"><div class="spinner-border" style="width: 4rem; height: 4rem;" role="status"><span class="sr-only">Loading...</span></div></div>');
        var loadUrl = $(e.relatedTarget).attr('href');
        $(this).find('.modal-content').load(loadUrl, function() {
            bsCustomFileInput.init();
        });
    });
});
</script>
{% endblock %}
