{% extends "layout" %}

{% block content %}

<nav>
    <ul class="pagination justify-content-center">
{% for page in letterPaginationList %}
        {% if not page.active %}
        <li class="page-item disabled"><span class="page-link">{{ page.letter }}</span></li>
        {% else %}
        <li class="page-item{% if page.current %} active{% endif %}">
            <a href="{{ urlFor('titles.letter', {'letter': page.letter}) }}" class="page-link">{{ page.letter }}</a>
        </li>
        {% endif %}
{% endfor %}
    </ul>
</nav>

<div class="row">
{% for element in elementList %}
    <div class="col-4">
        <div class="element-card">
            <img src="/elements/{{ element.id }}/thumbnail.png" width="70" height="70" />
            <div>
                <a href="{{ urlFor('elements.view', {'id': element.id}) }}" class="h5 stretched-link">{{ element.title }}</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}
